Repository Nam077/smart-home: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier --parser yaml --write, prettier --parser html --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.json": [
    "prettier --parser json --write"
  ],
  "*.md": [
    "prettier --parser markdown --write"
  ],
  "*.{yml,yaml}": [
    "prettier --parser yaml --write"
  ],
  "*.html": [
    "prettier --parser html --write"
  ],
  "!src/database/migrations/**": []
}

feat(config): implement JWT configuration with validation
  .eslintrc.js
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.cjs
  commitlint.config.js
  docs/ISSUE-JWT-CONFIG.md
  package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier --parser yaml --write

feat(#7): implement User Management Module
  .env.test
  .vscode/settings.json
  docs/ISSUE-USER-MANAGEMENT.md
  package.json
  pnpm-lock.yaml
  smart_home.db
  src/app.module.ts
  src/common/dto/base-response.dto.ts
  src/common/dto/created-response.dto.ts
  src/common/dto/error-response.dto.ts
  src/common/dto/no-content-response.dto.ts
  src/common/dto/paginated-response.dto.ts
  src/common/dto/pagination.dto.ts
  src/common/dto/query-filter.dto.ts
  src/common/dto/success-response.dto.ts
  src/common/interceptors/error.interceptor.ts
  src/common/interceptors/transform.interceptor.ts
  src/common/interfaces/crud.interface.ts
  src/common/services/base-crud.service.ts
  src/main.ts
  src/modules/user/controllers/user.controller.ts
  src/modules/user/dto/create-user.dto.ts
  src/modules/user/dto/update-user.dto.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/repositories/user.repository.ts
  src/modules/user/services/user.service.ts
  src/modules/user/user.module.ts
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier --parser yaml --write

feat(#7): implement User Management Module
  .env.test
  .gitignore
  .vscode/settings.json
  docs/ISSUE-USER-MANAGEMENT.md
  package.json
  src/app.module.ts
  src/common/dto/base-response.dto.ts
  src/common/dto/created-response.dto.ts
  src/common/dto/error-response.dto.ts
  src/common/dto/no-content-response.dto.ts
  src/common/dto/paginated-response.dto.ts
  src/common/dto/pagination.dto.ts
  src/common/dto/query-filter.dto.ts
  src/common/dto/success-response.dto.ts
  src/common/interceptors/error.interceptor.ts
  src/common/interceptors/transform.interceptor.ts
  src/common/interfaces/crud.interface.ts
  src/common/services/base-crud.service.ts
  src/main.ts
  src/modules/user/controllers/user.controller.ts
  src/modules/user/dto/create-user.dto.ts
  src/modules/user/dto/update-user.dto.ts
  src/modules/user/entities/user.entity.ts
  src/modules/user/repositories/user.repository.ts
  src/modules/user/services/user.service.ts
  src/modules/user/user.module.ts
  tsconfig.json
Due: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write

feat(#7): implement user authentication
  src/app.module.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/controllers/auth.controller.ts
  src/modules/auth/dto/login.dto.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/services/auth.service.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/user/services/user.service.ts
Due: eslint --fix, prettier --write

feat(#12): Initialize MQTT and Device Management
  device-simulator.ts
  docs/code-architecture.md
  docs/issues/12-smart-home-device-management.md
  docs/issues/8-smart-home-device-management.md
  docs/mqtt-flow.md
  docs/system-architecture.md
  mqtt-client.html
  mqtt-websocket-test.html
  package.json
  src/app.module.ts
  src/config/database/configuration.ts
  src/modules/device/controllers/device.controller.ts
  src/modules/device/device.module.ts
  src/modules/device/dto/create-device.dto.ts
  src/modules/device/dto/update-device.dto.ts
  src/modules/device/entities/device.entity.ts
  src/modules/device/services/device.service.ts
  src/modules/mqtt/mqtt.config.ts
  src/modules/mqtt/mqtt.controller.ts
  src/modules/mqtt/mqtt.module.ts
  src/modules/mqtt/mqtt.service.ts
  src/modules/room/controllers/room.controller.ts
  src/modules/room/dto/create-room.dto.ts
  src/modules/room/entities/room.entity.ts
  src/modules/room/room.module.ts
  src/modules/room/services/room.service.ts
  src/modules/user/controllers/user.controller.ts
  src/modules/user/entities/user.entity.ts
Due: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write, prettier --parser html --write

feat: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier --parser markdown --write

feat(#12): enhance MQTT module functionality
  mqtt-device-control-react.html
  mqtt-device-control.html
  src/app.module.ts
  src/main.ts
  src/modules/controller/controller.module.ts
  src/modules/controller/controllers/controller.controller.ts
  src/modules/controller/dto/create-controller.dto.ts
  src/modules/controller/dto/update-controller.dto.ts
  src/modules/controller/entities/controller.entity.ts
  src/modules/controller/services/controller.service.ts
  src/modules/device/controllers/device.controller.ts
  src/modules/device/device.module.ts
  src/modules/device/dto/create-device.dto.ts
  src/modules/device/entities/device.entity.ts
  src/modules/device/services/device-status.service.ts
  src/modules/device/services/device.service.ts
  src/modules/gateway/events.gateway.ts
  src/modules/gateway/gateway.module.ts
  src/modules/mqtt/dto/device-control.dto.ts
  src/modules/mqtt/mqtt.service.ts
  src/modules/mqtt/services/mqtt-handler.service.ts
  src/modules/mqtt/services/mqtt-heartbeat.service.ts
  src/modules/mqtt/services/mqtt-publisher.service.ts
  src/modules/mqtt/types/mqtt.types.ts
  src/modules/user/entities/user.entity.ts
Due: eslint --fix, prettier --write, prettier --parser html --write

docs: enhance project documentation #12
  .env.test
  README.md
  src/common/README.md
  src/config/README.md
  src/database/README.md
  src/modules/auth/README.md
  src/modules/device/README.md
  src/modules/mqtt/README.md
  src/modules/mqtt/services/mqtt-handler.service.ts
  src/modules/mqtt/types/mqtt.types.ts
  src/modules/room/README.md
  src/modules/user/README.md
Due: eslint --fix, prettier --write, prettier --parser markdown --write

feat: add RGB color control functionality #12
  .github/PULL_REQUEST.md
  .github/README.md
  src/modules/device/entities/device.entity.ts
  src/modules/mqtt/dto/device-control.dto.ts
  src/modules/mqtt/services/mqtt-handler.service.ts
  src/modules/mqtt/types/mqtt.types.ts
Due: eslint --fix, prettier --write, prettier --parser markdown --write

fix: update
  src/config/jwt/configuration.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/controllers/auth.controller.ts
  src/modules/auth/guards/refresh-token.guard.ts
  src/modules/auth/services/auth.service.ts
  src/modules/auth/strategies/refresh-token.strategy.ts
Due: eslint --fix, prettier --write

chore: add enpoint to handel
  src/main.ts
  src/modules/auth/controllers/auth.controller.ts
  src/modules/auth/services/auth.service.ts
  src/modules/controller/controllers/controller.controller.ts
  src/modules/controller/services/controller.service.ts
  src/modules/device/controllers/device.controller.ts
  src/modules/device/services/device.service.ts
  src/modules/mqtt/mqtt.controller.ts
  src/modules/room/controllers/room.controller.ts
  src/modules/room/room.module.ts
  src/modules/room/services/room.service.ts
  src/modules/user/controllers/user.controller.ts
Due: eslint --fix, prettier --write

fix: update
  README.md
  src/common/services/base-crud.service.ts
  src/modules/controller/services/controller.service.ts
  src/modules/mqtt/README.md
  src/modules/mqtt/mqtt.service.ts
Due: eslint --fix, prettier --write, prettier --parser markdown --write

update: mqtt handle and hearbeat
  src/client/mqtt-client.ts
  src/modules/mqtt/mqtt.service.ts
  src/modules/mqtt/services/mqtt-handler.service.ts
  src/modules/mqtt/services/mqtt-heartbeat.service.ts
Due: eslint --fix, prettier --write

feat: voice controller
  package.json
  src/app.module.ts
  src/client/mqtt-client.ts
  src/modules/device/controllers/device.controller.ts
  src/modules/device/dto/create-device.dto.ts
  src/modules/device/entities/device.entity.ts
  src/modules/device/services/device.service.ts
  src/modules/global/global.module.ts
  src/modules/global/services/mqtt-publisher.service.ts
  src/modules/mqtt/interfaces/mqtt-publisher.interface.ts
  src/modules/mqtt/mqtt.module.ts
  src/modules/mqtt/mqtt.service.ts
  src/modules/mqtt/services/mqtt-handler.service.ts
  src/modules/mqtt/services/mqtt-heartbeat.service.ts
  src/modules/mqtt/types/mqtt.types.ts
  src/modules/room/controllers/room.controller.ts
  src/modules/voice-controller/dto/create-voice-controller.dto.ts
  src/modules/voice-controller/dto/update-voice-controller.dto.ts
  src/modules/voice-controller/voice-controller.controller.spec.ts
  src/modules/voice-controller/voice-controller.controller.ts
  src/modules/voice-controller/voice-controller.module.ts
  src/modules/voice-controller/voice-controller.service.spec.ts
  src/modules/voice-controller/voice-controller.service.ts
Due: eslint --fix, prettier --write, prettier --parser json --write

fix: update method update device
  .env.test
  docs/voice-control.md
  package.json
  src/app.module.ts
  src/config/api-keys/configuration.ts
  src/config/validation.schema.ts
  src/modules/device/services/device.service.ts
  src/modules/global/global.module.ts
  src/modules/global/services/ai.service.ts
  src/modules/mqtt/services/mqtt-heartbeat.service.ts
  src/modules/voice-controller/voice-controller.controller.ts
  src/modules/voice-controller/voice-controller.service.ts
  test.ts
Due: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser markdown --write

fix: mqtt service fix
  src/modules/device/controllers/device.controller.ts
  src/modules/device/entities/device.entity.ts
  src/modules/device/services/device.service.ts
  src/modules/mqtt/mqtt.service.ts
  src/modules/mqtt/services/mqtt-handler.service.ts
  src/modules/mqtt/services/mqtt-publisher.service.ts
  src/modules/voice-controller/voice-controller.service.ts
Due: eslint --fix, prettier --write
